{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/index.css" />
{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/index.js"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="header">
        <h1 data-bind="text: page_title"></h1>
        <p data-bind="visible: username() === ''">A dead-simple website to keep track of the anime you're watching.</p>
    </div>
    <div class="user-info form-inline" style="margin-top: 10px;">
        <h2 data-bind="visible: username() === ''">Create Your List</h2>
        <div class="form-group">
            <input class="form-control" type="text" id="username" placeholder="Username" data-bind="value: username" />
        </div>
        <div class="form-group">
            <input class="form-control" type="email" id="email" placeholder="Email (optional)" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" id="password" placeholder="Password" />
        </div>
        <p class="text-center"><small>If you omit your email, you'd better remember that password.</small></p>
    </div>
    <div class="add-show">
        <a class="pull-right import-link" href="#">Import from MAL</a>
        <h3>Add Anime</h3>
        <div class="row">
            <div class="col-md-6">
                <input id="working-anime-title" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                <select class="form-control">
                    <option>Planned</option>
                    <option>In-Progress</option>
                    <option selected>Finished</option>
                    <option>Dropped</option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="rating interactive">
                    <span data-bind="css: { 'selected': working_anime.rating() >= 5 }, click: rate_anime(working_anime, 5)">☆</span>
                    <span data-bind="css: { 'selected': working_anime.rating() >= 4 }, click: rate_anime(working_anime, 4)">☆</span>
                    <span data-bind="css: { 'selected': working_anime.rating() >= 3 }, click: rate_anime(working_anime, 3)">☆</span>
                    <span data-bind="css: { 'selected': working_anime.rating() >= 2 }, click: rate_anime(working_anime, 2)">☆</span>
                    <span data-bind="css: { 'selected': working_anime.rating() >= 1 }, click: rate_anime(working_anime, 1)">☆</span>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block">Add Show</button>
            </div>
        </div>
    </div>
    <div class="listing" data-bind="visible: planned_anime().length !== 0 || true">
        <h3>Planned</h3>
        <div class="anime">
            <div class="background" style="background-image: url('/backgrounds/evangelion.jpg')"></div>
            <div class="content">
                <div class="rating pull-right">
                    <span>☆</span>
                    <span>☆</span>
                    <span class="selected">☆</span>
                    <span class="selected">☆</span>
                    <span class="selected">☆</span>
                </div>
                <h3>Neon Genesis Evangelion</h3>
            </div>
        </div>
        <div class="anime">
            <div class="background" style="background-image: url('/backgrounds/madoka-magica.jpg')"></div>
            <div class="content">
                <div class="rating pull-right">
                    <span>☆</span>
                    <span>☆</span>
                    <span class="selected">☆</span>
                    <span class="selected">☆</span>
                    <span class="selected">☆</span>
                </div>
                <h3>Mahou Shoujo Madoka★Magica</h3>
            </div>
        </div>
    </div>
    <div class="listing" data-bind="visible: in_progress_anime().length !== 0">
        <h3>In-Progress</h3>
    </div>
    <div class="listing" data-bind="visible: complete_anime().length !== 0">
        <h3>Complete</h3>
    </div>
    <div class="listing" data-bind="visible: dropped_anime().length !== 0">
        <h3>Dropped</h3>
    </div>
    <hr />
    <p class="text-center">
        <button class="btn-link" data-toggle="collapse" data-target="#advanced">
            <span class="glyphicon glyphicon-chevron-down"></span> Advanced Settings <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
    </p>
    <div id="advanced" class="collapse well">
        <label for="user-css">Custom CSS</label>
        <div id="user-css">/* You can add custom CSS here
 * Updates are shown on this page as you type them
 * Like someone else's CSS? Steal it by going to http://listed.moe/someone_else/css
 */</div>
    </div>
    <button class="btn btn-success btn-block btn-lg" style="margin-top: 20px;">Create Account</button>
</div>
{% endblock %}
