<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/vnd.microsoft.icon" href="/static/icon.ico">
        <meta property="og:image" content="/static/logo.png" />
        {% block title %}
        <title>listed</title>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block default_scripts %}
        <script src="/static/knockout.js" type="text/javascript"></script>
        <script src="/static/jquery.js" type="text/javascript"></script>
        <script src="/static/typeahead.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
